@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgba(0, 0, 0, 0.9);
}

@media (hover: none) and (orientation: landscape) {
  .navigation-section-icon {
    display: none;
  }
}

/* Snipcart */

:root {
  --bgColor-buttonPrimary: #1a4db3;
}

button {
  &.snipcart-button-primary {
    background-color: var(--bgColor-buttonPrimary);
  }
}
